
/* -------------------------------------------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
body{font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}
a:focus{outline:1px dotted}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}
/*p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}*/

/* base       --------------------------------------------------------- */
body{
	background-color: #232323;
	color: #fff;
	font-size:2.8em;
	background-image:url(http://infoini.de/media/logo.png);
	background-position:center center;background-repeat:no-repeat;
	background-size:10em;
	background-attachment:fixed;
	max-width:1280px;
	margin:auto;
}


h1 {font-size:1.7em;}
h2 {font-size:1.2em;}
a {
	color:#03c5dc;
	text-decoration:none;
}
sup{font-size:0.7em;}


/* blocks     --------------------------------------------------------- */
.block {
        color: #fff;
        background: #343434;
	text-align: center;
	border-radius:15px;
	box-shadow:0px 0px 0.9em #000000;
	margin:0.5em;
	margin-bottom: 1em;
	opacity:0.90;
}
.w7 {max-width:7em;}
.w25 {max-width:25em;}
.rfloat {float:right;}
.lfloat {float:left;}
.col {}
.text {padding:0.3em;}
/* messages   --------------------------------------------------------- */
.messages li { border:1px solid #CC0;background-color:#FF8;padding:0.1em;list-style:none;}
.messages li.success { border:1px solid #080;background-color:#1b1;}

/* cafe-status -------------------------------------------------------- */
.progress_bar {
	height:20em;
	position: relative;
	margin: 0.1em 0.1em 15px 0.1em;
	overflow:hidden;

	border: 1px solid #111;
	background-color: #511;
	box-shadow: 0 0.1em 0.5em #000 inset;
	border-radius:0.5em;
}
@media only screen and (max-device-width: 600px) {
	.progress_bar { height:5em;}
}
 
.progress_bar span {
	background-color: #530;
	box-shadow: 0 0.0em 1.0em #860 inset;
	border-radius: 0  0 0.5em 0.5em;
	border-top:2px solid #000;
	background-position:center bottom;
	background-repeat:repeat-y;
	background-image:url('/media/cafe_cup.png');
	background-size:90%;

	position:absolute;
	bottom:0;
	width:100%;
	display:block;
}
 
.progress_bar strong {
	position:absolute;
	margin:auto;
	left:0;top:0;right:0;bottom:0;
	height:1em;
	z-index: 10;
	display: block;

	text-align:center;
}

.progress_bar span {
}

/* tuer        -------------------------------------------------------- */
.tuer {padding:0.2em;}
/* news        -------------------------------------------------------- */
#news {text-align:left;}
#news div {
	background-color:#222;
	box-shadow: 0px 0px 1px black;
	border-radius: 15px;
	padding:0.2em;
	margin:0.2em;
}
/* tweets      -------------------------------------------------------- */
#tweets {text-align:left;}
#tweets li {
	list-style:none;
	background-color:#222;
	box-shadow: 0px 0px 1px black;
	border-radius: 15px;
	padding:0.2em;
	margin:0.2em;
	min-height:64px;
}
#tweets .tweet_avatar {
	float:left;
	margin-right:0.5em;
	border-radius: 15px;
	display:block;
	overflow:hidden;
}
#tweets .tweet_even {
	background-color:#111;
}
#tweets .tweet_odd {
	background-color:#222;
}

/* page scrolling ----------------------------------------------------- */
.page {
    width:100%;
    height:100%;
    overflow:hidden;
    padding-bottom:1.4em;
}

/* bottom statusbar --------------------------------------------------- */
#bottombar {
    width:100%;
    height:1.4em;
    position:fixed;
    bottom:0;left:0;
    background-color:#000;
    z-index:100;
    font-size:1.1em;
}
#bottombar span {
    padding:0.2em;padding-top:0;padding-bottom:0;
}
#bottombar #date {
    float:right;
}

#speiseplan *{
    background-color:transparent;
    border:0;
}

#speiseplan .mensa_day_speise_preis {
    display:none;
}
