<page header='"Mensa"'>
  <row>
    <strong>{{ date }}</strong>
    <div style='padding-left:1em' ng-repeat='(category, foods) in content' ng-if='category != "Beilagen"'>
      <strong>{{ category }}</strong>
      <table style='width:100%'>
        <tr ng-repeat='food in foods' >
          <td>{{ food.title}}</td>
          <td style='text-align:right;width:12%;'><small>{{ food.price |mensaPreisStudent }} €</small></td>
        </tr>
      </table>
    </div>
  </row>
  <row>
    <a href="http://www.studentenwerk-berlin.de/mensen/speiseplan/beuth/index.html">Zur Mensa Seite</a>
  </row>
</page>
